.img-members{	
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	height: 500px;
	width: 500px;
}
.meminfo{
	padding: 0 250px;
	margin: 10px;
	border:10px;
}
.avt{
	height: 500px;
	width: 500px;
	border-radius: 50%;
}
.list-item-gradient{
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
	padding: 10px;
	font-family: sans-serif;
	font-size: 30px;
	border-radius: 10px;
}
.listInfo{
	list-style-type: none;
}

.member-team{
	height: 500px;
	width: 1000px;
	margin-left:auto;
	margin-right: auto;
	position: relative;
}
.imageteam{	
	height: 500px;
	width: 1000px;
}

.member1-info, .member2-info{
	font-size: 25px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
}

.member1-info{
	position: absolute;
	bottom: 50px;
	left: 80px;
}

.member2-info{
	position: absolute;
	bottom: 50px;
	right: 120px;
}